<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.westar.masseswork_98">

    <application
        android:name="com.westar.library_base.base.BaseApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/mybackupscheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/HomeTheme"
        tools:replace="Android:icon, android:theme"
        tools:targetApi="n"> <!-- 忽略导入的module的主题和icon -->

        <!-- region 适配全面屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <!-- 适配7.0级以上系统的获取系统uri路径，应用于提供App之间共享的uri -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 测试activity -->
        <activity android:name=".test.TestViewActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name="com.westar.module_login.ui.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".test.PictureSelectActivity" />
        <activity android:name=".ui.HomeGroupActivity" />
        <activity android:name=".ui.activity.ChoiceAddressActivity" />
        <activity android:name=".ui.activity.GlobalSearchActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.PersonalInformationActivity" />
        <activity android:name=".ui.activity.securityOfAccountActivity" />
        <activity android:name=".ui.activity.ChangePhoneActivity" />
        <activity android:name=".ui.activity.ConfirmNewPhoneActivity" />
        <activity android:name=".ui.activity.RealNameAuthenticationActivity" />
        <activity android:name=".ui.activity.AboutMeActivity" />
        <activity android:name=".ui.activity.FeedBackActivity" />
        <activity android:name=".ui.activity.CardListActivity" />
        <activity android:name=".ui.activity.CardDetailActivity" />
        <activity android:name=".ui.activity.AddressManagerActivity" />
        <activity android:name=".ui.activity.AddAddressActivity"></activity>
        <activity android:name=".ui.activity.ContactInformationActivity" />
        <activity android:name=".ui.activity.MoreFunctionActivity" />
        <activity android:name=".ui.activity.CenterNavigationActivity" />
    </application>

</manifest>